@import '@nuvens/ui/styles.css';

@theme {
  --color-primary-50: #f3f7fc;
  --color-primary-100: #e5f0fa;
  --color-primary-200: #bfdcf8;
  --color-primary-300: #81bef8;
  --color-primary-400: #1f91ff;
  --color-primary-500: #0072e0;
  --color-primary-600: #0052a1;
  --color-primary-700: #004180;
  --color-primary-800: #002f5c;
  --color-primary-900: #001f3d;

  --color-accent-50: #f2f6fd;
  --color-accent-100: #e6eefb;
  --color-accent-200: #c7daf7;
  --color-accent-300: #a7c4f2;
  --color-accent-400: #82a6e7;
  --color-accent-500: #6a91df;
  --color-accent-600: #5683d8;
  --color-accent-700: #3f69bd;
  --color-accent-800: #2f5296;
  --color-accent-900: #203a6a;

  --color-neutral-0: #ffffff;
  --color-neutral-50: #edeff2;
  --color-neutral-100: #d2d8e0;
  --color-neutral-200: #b7c1cd;
  --color-neutral-300: #9ca9ba;
  --color-neutral-400: #8192a8;
  --color-neutral-500: #4b6382;
  --color-neutral-600: #445975;
  --color-neutral-700: #3c4f68;
  --color-neutral-800: #34455b;
  --color-neutral-900: #2d3b4e;
}

/* Border radius */
@utility ui-radius { @apply rounded-full; }
@utility ui-radius-sm { @apply rounded-lg; }
@utility ui-radius-lg { @apply rounded-3xl; }

/* Form elements */
@utility ui-form-elements-height { @apply h-12; }
@utility ui-form-elements-height-sm { @apply h-10; }
@utility ui-form-elements-height-lg { @apply h-14; }
