# The variables added in this file are only available locally in MiniOxygen.
# Run `pnpm shopify hydrogen link` to also inject environment variables from your storefront,
# or `pnpm shopify hydrogen env pull` to populate this file.
SESSION_SECRET="foobar"

# Brand identity
BRAND_ID=wooly

# Storefront API
PRIVATE_STOREFRONT_API_TOKEN=shpat_0123456789
PUBLIC_STORE_DOMAIN=example.myshopify.com
PUBLIC_STOREFRONT_API_TOKEN=dummy
PUBLIC_STOREFRONT_API_VERSION=2025-07

# Customer accounts (optional)
PUBLIC_CUSTOMER_ACCOUNT_API_URL=
PUBLIC_CUSTOMER_ACCOUNT_ID=
PUBLIC_CUSTOMER_ACCOUNT_CLIENT_ID=

# Checkout/analytics
PUBLIC_CHECKOUT_DOMAIN=checkout.example.com

# Store info
HEADER_MENU_HANDLE=main-menu
FOOTER_MENU_HANDLE=footer-menu
